body {
  margin: 0;
  padding: 0;
}

#foo {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  display: flex;
  justify-content: center;
}
.btn-group button {
  width: 160px;
  border: 0;
  background: #429c65;
  border-radius: 4px;
  box-shadow: 0 5px 0 #307149;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
.btn-group button:active {
  box-shadow: 0 2px 0 #307149;
  transform: translateY(3px);
}

.wrapper-timer {
  padding: 25px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto; }
.wrapper-timer #timer {
  font-family: 'Orbitron', sans-serif;
  font-size: 97px;
  text-shadow: 0px 0px 1px #fff;
  color: #464749;
}

.toolbar {
  height: 77px;
  background: #f2f2f2;
  border: solid 1px #e6e6e6;
  margin: 0px; }
.toolbar h2 {
  color: #464749;
  margin-left: 22px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 800;
}

/* Animation tomato */
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both; }

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
